{% extends 'base.html.twig' %}

{% block css %}
    <link href="css/Tournaments/joinTournament.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="teams">
        {% for key, team in teams %}
            <article class="team{{ key }}">
                <p><u>Team {{ key }}</u></p>
                <div>
                    <p>Attaquant:</p>
                {% if (team.attaquant == null) %}
                    <a href="/joinTeam?tournamentID={{ tournament.id }}&teamID={{ key }}&user_function=attaquant"><button>Join the team</button></a>
                {% else %}
                    <p>{{ team.attaquant }}</p>
                {% endif %}
                </div>
                <div>
                    <p>Defenseur:</p>
                    {% if (team.defenseur == null) %}
                        <a href="/joinTeam?tournamentID={{ tournament.id }}&teamID={{ key }}&user_function=defenseur"><button>Join the team</button></a>
                    {% else %}
                        <p>{{ team.defenseur }}</p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}