{% extends 'base.html.twig' %}

{% block css %}
    <link href="css/Tournaments/pendingTournament.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="matches">
        {% for key, match in matches %}
            <article class="match{{ key+1 }}">
                <p><u>Match numéro {{ key+1 }}</u></p>
                <div>
                    {% if match.status == 'before' %}
                        <p>Status: pas encore commencé</p>
                    {% elseif match.status == 'pending' %}
                        <p>Status: en cours</p>
                    {% else %}
                        <p>Status: terminé</p>
                    {% endif %}
                    <hr>
                    <p><u>Équipe {{ match.homeTeam_id }} - Équipe {{ match.awayTeam_id }}</u></p>
                    {% if match.status == 'before' %}
                        <p>Score: ? - ?</p>
                    {% else %}
                        <p>Score: {{ match.home_goals }} - {{ match.away_goals }}</p>
                    {% endif %}
                    {% if tournament.creator == session.user.nickname and match.status == 'before' %}
                        <a href="/activeMatch?tournamentID={{ tournament.id }}&homeID={{ match.homeTeam_id }}&awayID={{ match.awayTeam_id }}"><button>Start the game</button></a>
                    {% endif %}
                    {% if match.status != 'before' %}
                        <button>
                            <a href="/match?tournamentID={{ tournament.id }}&homeID={{ match.homeTeam_id }}&awayID={{ match.awayTeam_id }}">
                                Voir le tableau des scores</a>
                        </button>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}